{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.user_type == 'author' %}
            <h2>Create Post</h2>
            <form method="post">
                {% csrf_token %}
                {{ create_form.as_p }}
                <button type="submit">Save</button>
            </form>
        {% else %}
            <p>Sorry, you aren't allowed to create a post.</p>
        {% endif %}
    {% else %}
        <p>Please log in to create a post.</p>
    {% endif %}
{% endblock %}